
export PATH="$HOME/.local/bin:$PATH"

{{ if eq .chezmoi.os "linux" -}}
if [ -x /home/linuxbrew/.linuxbrew/bin/brew ]; then
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi
{{- else }}
if [ -x /opt/homebrew/bin/brew ]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
  export PATH="/opt/homebrew/opt/libpq/bin:$PATH"
fi
{{- end }}

export XDG_CONFIG_HOME="$HOME/.config"
export RAILS_EDITOR="zed"

{{- if eq .chezmoi.os "darwin" }}
source ~/.orbstack/shell/init.zsh 2>/dev/null || :
{{- end }}
