
{{ if eq .chezmoi.os "linux" -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
export PATH="$HOME/.local/bin:$HOME/.local/share/mise/shims:$PATH"
{{- else }}
eval "$(/opt/homebrew/bin/brew shellenv)"
export PATH="$HOME/.local/bin:/opt/homebrew/opt/libpq/bin:$HOME/.local/share/mise/shims:$PATH"
{{- end }}

export XDG_CONFIG_HOME="$HOME/.config"
export RAILS_EDITOR="zed"

if [[ "$TERM_PROGRAM" == "vscode" ]]; then
  eval "$(mise activate zsh --shims)"
else
  eval "$(mise activate zsh)"
fi

{{- if eq .chezmoi.os "darwin" }}
source ~/.orbstack/shell/init.zsh 2>/dev/null || :
{{- end }}
