{{- if eq .chezmoi.os "linux" }}
# Set UTF-8 locale for proper character rendering (Linux only)
export LANG=C.UTF-8
export LC_ALL=C.UTF-8
if [ -x /home/linuxbrew/.linuxbrew/bin/brew ]; then
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv zsh)"
fi
. "$HOME/.atuin/bin/env"
export PATH="$HOME/.local/bin:$PATH"
{{- end }}

eval "$(atuin init zsh)"
if [[ "$TERM_PROGRAM" == "vscode" ]]; then
  eval "$(mise activate zsh --shims)"
else
  eval "$(mise activate zsh)"
fi
eval "$(fnox activate zsh)"

# Pure prompt
fpath+=($HOME/.zsh/pure)
autoload -U promptinit; promptinit
prompt pure

if command -v brew >/dev/null 2>&1; then
  source $(brew --prefix)/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
  source $(brew --prefix)/share/zsh-autosuggestions/zsh-autosuggestions.zsh
elif [ -f /usr/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh ]; then
  source /usr/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
  source /usr/share/zsh-autosuggestions/zsh-autosuggestions.zsh
fi

source $HOME/zsh/zsh-z.plugin.zsh
autoload -U compinit; compinit
zstyle ':completion:*' menu select

export EDITOR=nvim
alias n="nvim"
set -o emacs



# Aliases
if command -v brew >/dev/null 2>&1; then
  alias bb="brew bundle"
fi
alias la="ls -A -l -G"
alias pl="cd ~/play"
alias wo="cd ~/work"
alias p="cd ~/projects"
alias src="cd ~/src"
alias rake='noglob rake'
alias bundle='nocorrect bundle'
alias rspec='nocorrect rspec'
alias reload="source ~/.zshrc"
{{- if eq .chezmoi.os "darwin" }}
alias tpd="tail -f ~/Library/Logs/puma-dev.log"
{{- end }}
alias rc="bundle exec rails console"
alias be="bundle exec"
alias br="bin/rails"
alias g="git"
alias lg="lazygit"
alias s="g status -s"
alias tc="reset && tmux clear-history"


alias popo="bin/rubocop -f github"
alias prime="bin/rails dev:prime"
alias dots="zed ~/projects/config"
alias yc="claude --dangerously-skip-permissions"

function oc() {
  opencode "${1:-.}"
}
function hs(){
  heroku  "$@" --remote staging
}

function hp(){
  heroku  "$@" --remote production
}

function hd(){
  heroku "$@" --remote demo
}

function kill_console(){
  ps -ef | grep 'heroku run' | grep -v grep | awk '{print $2}' | xargs kill -9
}

function find_routes() {
  bin/rails routes -g "$1"
}

function y() {
	local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
	command yazi "$@" --cwd-file="$tmp"
	IFS= read -r -d '' cwd < "$tmp"
	[ -n "$cwd" ] && [ "$cwd" != "$PWD" ] && builtin cd -- "$cwd"
	rm -f -- "$tmp"
}

alias hp="nocorrect hp"
alias hs="nocorrect hs"
alias mwt='eval "$(bin/wt --select)"'
alias zw='bin/wt --select --open zed'
alias tg='t -g'
alias tf='t -f'
alias tff='t --ff'
alias ca="chezmoi apply"
alias ccd='cd $(chezmoi source-path)'

# https://github.com/kevinSuttle/dotfiles/blob/9458141f40094d96952adc7c423cbdddeb909a81/functions
searchAndDestroy() {
  lsof -i TCP:$1 | grep LISTEN | awk '{print $2}' | xargs kill -9
  echo "Port" $1 "found and killed."
}

# AMP toolbox directory
export AMP_TOOLBOX="$XDG_CONFIG_HOME/amp/tools"

# Source local overrides if present
[[ -f "$HOME/.zshrc.local" ]] && source "$HOME/.zshrc.local"
