# For now, this operates under the assumption SSH keys are always forwarded from the Host
# and that the host is always OS X (which for me is currently always the case)
{{- if eq .chezmoi.os "darwin" }}
Include ~/.orbstack/ssh/config

Host *.ts.net
  ForwardAgent yes
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"


Host *exe.xyz
  ForwardAgent yes
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"


Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"

{{- end }}

